<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">


<html>
<head>
	<title>注册_易点租_办公电脑免押金租赁电商</title>
	



	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="Content-Type"  content="text/html; charset=UTF-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	
		<meta name="Keywords" content="电脑租赁,免押金,易点租,免押金租赁,企业租赁电脑,出租办公电脑,北京电脑租赁,IBM笔记本租赁,IBM电脑租赁,租赁苹果电脑,服务器租赁,高配台式机租赁,笔记本电脑租赁,苹果电脑租赁,北京笔记本出租,免押金租电脑,电脑免押金租赁" />
		<meta name="Description" content="易点租 首创0押金，月租金85元/月起，随租随还，全程保修。中小企业办公电脑优秀之选。" />
	
	
	<meta name="baidu-site-verification" content="x6vU8kiRne" />

	<link href="https://resources.edianzu.com/mall_new/20181108_1/css/edz.web.common.min.css?version=2018_11_08_20_31_27" rel="stylesheet" />
	<link href="https://resources.edianzu.com/mall_new/20181108_1/css/edz.web.min.css?version=2018_11_08_20_31_27" rel="stylesheet" />
	<link href="https://resources.edianzu.com/mall_new/20181108_1/css/edz.web.uc.min.css?version=2018_11_08_20_31_27" rel="stylesheet" />

	<script crossorigin type="text/javascript">
		ROOT_PATH = '';
	</script>
	<script crossorigin type="text/javascript" src="https://resources.edianzu.com/mall_new/20181108_1/js/edz.web.lib.min.js?version=2018_11_08_20_31_27"></script>
	<!--<script crossorigin type="text/javascript" src="https://resources.edianzu.com/mall_new/20181108_1/js/edz.web.min.js?version=2018_11_08_20_31_27"></script>-->
	<script type="text/javascript" src="https://cstaticdun.126.net/load.min.js"></script>

	
	<script crossorigin type='text/javascript'>
		var _vds = _vds || [];
		window._vds = _vds;
		(function(){
			_vds.push(['setAccountId', 'a5524122e79c5822']);
			(function() {
				var vds = document.createElement('script');
				vds.type='text/javascript';
				vds.async = true;
				vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(vds, s);
			})();
		})();

	</script>


	<script> var _hmt = _hmt || [];
	(function () {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?7f1c38424a58e6ebb23eeee705ad45af";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})(); </script>


	



</head>
<body page="Register">
<!--<iframe style="display:none;" src="https://www.edianzu.com/37Q2J44K64n8qMBWBs33/" ></iframe>-->









<!-- 顶部通用提示文案 -->
<div class="top-notice"><p></p></div>

<!-- 账单日提示文案 -->









<!-- 登录 注册 的头部 -->

    <div class="inter-header">
        <div class="inter clearfix">
            <dt class="fl">
                <a href="/index">
                    <i class="icon-login-logo"></i>
                </a>
            </dt>
            <dd class="fr">
                <ul>
                    



<li>
    销售热线：
    <span class="color-blue">400-810-9528</span>
</li>
<li>
    客服热线：
    <span class="color-blue">400-886-9528</span>
</li>
<li>
    <a href="/help">
        服务中心
    </a>
</li>

                </ul>
            </dd>
        </div>
    </div>









<script>
(function(window, $, undefined){
    $('table.big-nav-table a').each(function(){
        if (location.href.search(this.href) > -1){
            $(this).parent().addClass('on');
        }
    });
})(window, jQuery);
</script>

<div class="prefect-center register-center">
	<img class="bg-img" src="/static/user_img/prefect-banner.jpg" />
	<div class="content prefect-main clearfix">
		<div class="prefect-info-mian fl">
			<dl class="info-tit clearfix">
				<dt class="fl">
					易点租会员注册
				</dt>
				<dd class="fr">
					已有账号？去 <a href="/user/login">登录</a>
				</dd>
			</dl>
			<ul class="prefect-form register-form clearfix"  id="regform">
				<li>
					<span class="form-tit form-xltit">用户名</span>
					<input id="account" type="text"  placeholder="5-32位字母或数字字母组合" 
						
						
					 />
				</li>
				<li class="form-error">
					<span id="userError"></span>
				</li>
				<li>
					<span class="form-tit form-mtit">设置密码</span>
					<input id="pass" type="password" placeholder="8-32位数字与字母组合" 
					/>
				</li>
				<li class="form-error">
					<span id="passError"></span>
				</li>
				<li>
					<span class="form-tit">确 认 密 码</span>
					<input id="pass1" type="text" placeholder="8-32位数字与字母组合" 
				 />
				</li>
				<li class="form-error">
					<span id="phoneError"></span>
				</li>
				
				<li class="form-error">
					<div id="tishi">
						
					</div>
				</li>
				
				<li class="form-error">
					<span id="smsCodeError"></span>
				</li>
				<li class="register-green">
					注册即代表同意 <a target="_blank" href="/help/topic/0">《易点租账户注册协议》</a>
				</li>
				<li>
					<a class="button prefect-button" id="submitBtn">注册</a>
				</li>
			</ul>
		</div>
		<ul class="prefect-commentary fr">
			<li>
				<i class="icon-perfect-checkout"></i>
				再也不用为 <b>购置</b> IT设备花销大笔支出
			</li>
			<li>
				<i class="icon-perfect-checkout"></i>
				再也不用担心设备使用 <b>故障</b>
			</li>
			<li>
				<i class="icon-perfect-checkout"></i>
				再也不用头疼 <b>折旧</b> 的处置
			</li>
		</ul>
	</div>
</div>









<div class="inter_footer">


</div>


<!--右侧悬浮-->


<a id="moquu_top" href="#top"></a>


<script src="/static/user_js/jquery-2.1.0.js"></script>
<script type="text/javascript">
	
	$('#submitBtn').click(function(){
		data = {
			csrfmiddlewaretoken: '{{ csrf_token }}', // 为了防止csrf_token的拦截，所以必须带这个过去。
			username:$('#account').val(),
			passwd:$('#pass').val(),
			passwd1:$('#pass1').val()
			
		}
		if (data.username.length>5 && data.passwd.length>8 && data.passwd==data.passwd1){
			$('#tishi')[0].innerHTML=''
			$.ajax({
				url:'/user/manage_register/',
				type:'post',
				data:data,
				success:function(res){
					res = res
					if (res=='1'){
						console.log('跳转路由')
						setTimeout(function(){
							location.href='/user/login/'
						})
					}else{
						$('#tishi')[0].innerHTML= res
					}
				}
			})
			
		}else{
			$('#tishi')[0].innerHTML='请安提示注册，谢谢'
			
		}
	})
	
</script>



</body>
</html>
