
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">


<html>
<head>
	<title>登录_易点租_办公电脑免押金租赁电商</title>
	



	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="Content-Type"  content="text/html; charset=UTF-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	
		<meta name="Keywords" content="电脑租赁,免押金,易点租,免押金租赁,企业租赁电脑,出租办公电脑,北京电脑租赁,IBM笔记本租赁,IBM电脑租赁,租赁苹果电脑,服务器租赁,高配台式机租赁,笔记本电脑租赁,苹果电脑租赁,北京笔记本出租,免押金租电脑,电脑免押金租赁" />
		<meta name="Description" content="易点租 首创0押金，月租金85元/月起，随租随还，全程保修。中小企业办公电脑优秀之选。" />
	
	
	<meta name="baidu-site-verification" content="x6vU8kiRne" />

	<link href="https://resources.edianzu.com/mall_new/20181108_1/css/edz.web.common.min.css?version=2018_11_08_20_31_27" rel="stylesheet" />
	<link href="https://resources.edianzu.com/mall_new/20181108_1/css/edz.web.min.css?version=2018_11_08_20_31_27" rel="stylesheet" />
	<link href="https://resources.edianzu.com/mall_new/20181108_1/css/edz.web.uc.min.css?version=2018_11_08_20_31_27" rel="stylesheet" />

	<script crossorigin type="text/javascript">
		ROOT_PATH = '';
	</script>
	<script crossorigin type="text/javascript" src="https://resources.edianzu.com/mall_new/20181108_1/js/edz.web.lib.min.js?version=2018_11_08_20_31_27"></script>
	<!--<script crossorigin type="text/javascript" src="/static/user_js/edz.web.min.js"></script>-->
	<script type="text/javascript" src="https://cstaticdun.126.net/load.min.js"></script>

	
	<script crossorigin type='text/javascript'>
		var _vds = _vds || [];
		window._vds = _vds;
		(function(){
			_vds.push(['setAccountId', 'a5524122e79c5822']);
			(function() {
				var vds = document.createElement('script');
				vds.type='text/javascript';
				vds.async = true;
				vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(vds, s);
			})();
		})();

	</script>


	<script> var _hmt = _hmt || [];
	(function () {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?7f1c38424a58e6ebb23eeee705ad45af";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})(); </script>


	



</head>
<body page="Login">
<!--<iframe style="display:none;" src="https://www.edianzu.com/37Q2J44K64n8qMBWBs33/" ></iframe>-->









<!-- 顶部通用提示文案 -->
<div class="top-notice"><p></p></div>

<!-- 账单日提示文案 -->









<!-- 登录 注册 的头部 -->

    <div class="inter-header">
        <div class="inter clearfix">
            <dt class="fl">
                <a href="/index">
                    <i class="icon-login-logo"></i>
                </a>
            </dt>
            <dd class="fr">
                <ul>
                    



<li>
    开发团队：
    <span class="color-blue">6666666</span>
</li>
<li>
   开发热线：
    <span class="color-blue">6666666</span>
</li>
<li>
    <a href="/help">
        服务中心
    </a>
</li>

                </ul>
            </dd>
        </div>
    </div>









<script>
(function(window, $, undefined){
    $('table.big-nav-table a').each(function(){
        if (location.href.search(this.href) > -1){
            $(this).parent().addClass('on');
        }
    });
})(window, jQuery);
</script>

<div class="login-banner">
	<img src="/static/user_img/login-banner.jpg" />
	<input type="hidden" name="returnUrl" value="http://www.edianzu.com/carts" />
	<input type="hidden" name="target" value="" />
	<div class="content login-main clearfix">
		<div class="login-info-mian fr">
			<!-- 登录方式tab切换 -->
			<div class="login-tit login-tab">
				
				<p href="javascript:;">账号密码登录</p>
			</div>

			<!-- 错误信息提示 -->
			<div class="login-error hide" id="accounterrortip">
				<i class="icon-prefect-error"></i>
			</div>
			<div class="login-error hide" id="psderrortip">
				<i class="icon-prefect-error"></i>
			</div>			
			<div class="login-error hide" id="phoneError">
				<i class="icon-prefect-error"></i>
			</div>
			<div class="login-error hide" id="smsCodeError">
				<i class="icon-prefect-error"></i>
			</div>
			<div class="login-error hide" id="codeerrortip">
				<i class="icon-prefect-error"></i>请进行滑块验证
			</div>

			

			<!-- 手机快捷登录 -->
			<ul class="login-list phone-login" id="phoneLoginForm">
				<li>
					<input id="phone" type="text" placeholder="用户名／绑定手机号"  autocomplete="off" class="login-text"
						require="true"
						valid="true"
						errorTarget="accounterrortip"
						emptyError="请输入登录账号" />
				</li>
				<li>
					<input id="password" type="password" placeholder="请输入密码" autocomplete="off" class="login-text"
						require="true"
						valid="passwordLogin"
						errorTarget="psderrortip"
						error="密码格式不正确（要求8-32位数字与字母组合）"
						emptyError="请输入密码" />
				</li>
				<li id="accountCaptcha">
					 <div id="tsText">
					 	&nbsp;
					 </div>
				</li>
			</ul>

			<label class="login-check">
				<input id="autoLogin" type="checkbox" /> 两周内自动登录
				<a class="forget-pwd" href="/forgetPass">忘记密码</a>
			</label>
			<a id="submitBtn" class="login-btn">立即登录</a>
			<div class="entrance">
				<a href="/user/register">没有账号？立即注册</a>
			</div>
			<!-- <div class="wx-login-box">
				<span class="login-txt"><i class="icon-wx-logo wx-login-i"></i>使用微信登录</span>
			</div> -->
		</div>
	</div>
</div>








<div class="inter_footer">

</div>


<!--右侧悬浮-->

<a id="moquu_top" href="#top"></a>


<script src="/static/user_js/jquery-2.1.0.js"></script>
<script type="text/javascript">
	$('#submitBtn').click(function(){
		data = {
			csrfmiddlewaretoken: '{{ csrf_token }}', // 为了防止csrf_token的拦截，所以必须带这个过去。
			username:$('#phone').val(),
			passwd:$('#password').val(),
			autoLogin:$('#autoLogin')[0].checked,
		}
		console.log(data)
		$.ajax({
			type:"post",
			url:"/user/manage_login/",
			data:data,
			success:function(res){
				
				info = res
				console.log(info)
				if (info=='1'){
					console.log('跳转主页')
					setTimeout(function(){
						location.href='/qiantai/index'
					})
					
				}else{
					console.log(info)
					$('#tsText')[0].innerHTML = info
				}
			},
		});
		
		
	})
</script>


</body>
</html>
