
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">





<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
        <title>易点租</title>
    
    
    



	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="Content-Type"  content="text/html; charset=UTF-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	
		<meta name="Keywords" content="电脑租赁,免押金,易点租,免押金租赁,企业租赁电脑,出租办公电脑,北京电脑租赁,IBM笔记本租赁,IBM电脑租赁,租赁苹果电脑,服务器租赁,高配台式机租赁,笔记本电脑租赁,苹果电脑租赁,北京笔记本出租,免押金租电脑,电脑免押金租赁" />
		<meta name="Description" content="易点租 首创0押金，月租金85元/月起，随租随还，全程保修。中小企业办公电脑优秀之选。" />
	
	
	<meta name="baidu-site-verification" content="x6vU8kiRne" />

	<link href="https://resources.edianzu.com/mall_new/20181108_1/css/edz.web.common.min.css?version=2018_11_08_20_31_27" rel="stylesheet" />
	<link href="https://resources.edianzu.com/mall_new/20181108_1/css/edz.web.min.css?version=2018_11_08_20_31_27" rel="stylesheet" />
	<link href="https://resources.edianzu.com/mall_new/20181108_1/css/edz.web.uc.min.css?version=2018_11_08_20_31_27" rel="stylesheet" />

	<script crossorigin type="text/javascript">
		ROOT_PATH = '';
	</script>
	<script crossorigin type="text/javascript" src="https://resources.edianzu.com/mall_new/20181108_1/js/edz.web.lib.min.js?version=2018_11_08_20_31_27"></script>
	<script crossorigin type="text/javascript" src="https://resources.edianzu.com/mall_new/20181108_1/js/edz.web.min.js?version=2018_11_08_20_31_27"></script>
	<script type="text/javascript" src="https://cstaticdun.126.net/load.min.js"></script>

	
	<script crossorigin type='text/javascript'>
		var _vds = _vds || [];
		window._vds = _vds;
		(function(){
			_vds.push(['setAccountId', 'a5524122e79c5822']);
			(function() {
				var vds = document.createElement('script');
				vds.type='text/javascript';
				vds.async = true;
				vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(vds, s);
			})();
		})();

	</script>


	<script> var _hmt = _hmt || [];
	(function () {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?7f1c38424a58e6ebb23eeee705ad45af";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})(); </script>


	



</head>

<body page="ProductList" class="product-list-content">
    
        








<!-- 顶部通用提示文案 -->
<div class="top-notice"><p></p></div>

<!-- 账单日提示文案 -->

	<div class="bill-tips"><p></p></div>
    <div class="invoice-tips"><p></p></div>



	<div class="header-top">
	    <dl class="clearfix">
	        
	            
	            
	                <dt class="fl">
	                    <div class="fl">您好，欢迎18144439134来到易点租</div>
	                    <a class="logout fl">退出</a>
	                    <div class="_customerManager color-blue fl" style="display:none">
	                        您的专属客户经理：
	                    </div>
	                </dt>
	                <dd class="fr">
	                    <ul id="header-list" class="clearfix">
	                        <li class="_application-remind"></li>
	                        <li class="_apply-now"></li>
	                        <li class="use_center">
	                            <a href="/ucenter">
	                                用户中心
	                                <i class="icon-header-centerup"></i>
	                            </a>
	                            <!-- 下拉菜单 -->
	                            <ul>
	                                <li>
	                                    <a href="/ucenter/orders">我的订单</a>
	                                </li>
	                                <li>
	                                    <a href="/my_bill_month">我的账单</a>
	                                </li>
	                                <!-- <li>
	                                    <a href="/workform">我的工单</a>
	                                </li> -->
                                    <li>
                                        <a href="/customerInvoice">我的发票</a>
                                    </li>
                                    <li>
                                        <a href="/alipay">账户充值</a>
                                    </li>
                                    <li>
                                        <a href="/bindingPhone">账户安全</a>
                                    </li>
	                                <li>
	                                    <a id="headerDepositLink" href="/apply_deposit">免押金额度</a>
	                                </li>
	                            </ul>
	                        </li>
                            



<li>
    销售热线：
    <span class="color-blue">400-810-9528</span>
</li>
<li>
    客服热线：
    <span class="color-blue">400-886-9528</span>
</li>
<li>
    <a href="/help">
        服务中心
    </a>
</li>

	                    </ul>
	                </dd>
	            
	            
	            
	        
	    </dl>
	</div>



    <dl class="header-index clearfix">
        <dt class="index-Hlogo fl">
            <a href="/index"> </a>
        </dt>
        <dd class="index-Hsearch">
            <div class="clearfix search-box">
                <div class="input-box">
                    <input type="text" placeholder="免押金租电脑" class="hsearch-text" value="" />
                    <i class="search-del-btn hidden"></i>
                </div>
                <button class="hsearch-but">
                    <i class="icon-header-search"></i>
                    搜索
                </button>
            </div>
            <p class="search-word">
                <!-- <a href="#">T420</a><a href="#">T420</a><a href="#">T420</a><a href="#">T420</a><a href="#">T420</a> -->
            </p>
        </dd>
        <dd class="index-Hshopping fr">
            <a href="/carts" class="button" target="_blank">
                <i class="icon-header-shopping"></i>
                购物车
                <b>&gt;</b>
            </a>
            <span>0</span>
        </dd>
    </dl>
    <div class="commonnav-bg clearfix">
        <div class="content">
            <h2 class="fl">
                <a class="goods" style="cursor:default;">
                    <i class="icon-nav-left"></i>
                    商品分类
                    <i class="nav-direction icon-nav-down"></i>
                </a>
                <ul class="nav-list">
                    <li>
                        <div class="list-main">
                            <h6>
                                <i class="icon-nav-computer"></i>
                                办公电脑
                            </h6>
                            <p>
                                <a href="/category/77" target="_blank">笔记本</a>
                                <a href="/category/86" target="_blank">台式机</a>
                                <a href="/category/84" target="_blank">一体机</a>
                                <a href="/category/76" target="_blank">主机</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-main">
                            <h6>
                                <i class="icon-nav-peripheral"></i>
                                办公外设
                            </h6>
                            <p>
                                <a href="/category/82" target="_blank">投影仪</a>
                                <a href="/category/83" target="_blank">显示器</a>
                                <a href="/category/52" target="_blank">平板</a>
                                <a href="/category/49" target="_blank">手机</a>
                                <br />
                                <a href="/category/131" target="_blank">电视</a>
                                <a href="https://eqigou.edianzu.com/category/91" target="_blank">配件</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-main">
                            <h6>
                                <i class="icon-nav-software"></i>
                                增值服务
                            </h6>
                            <p class="padding-b0">
                                <a href="/item/118160" target="_blank">IT经理服务</a>
                                <a href="https://eqigou.edianzu.com/category/138" target="_blank">无忧服务</a>
                                <a href="/category/140" target="_blank">安装升级</a>
                            </p>
                            <p>
                                <a href="/category/141" target="_blank">数据保障</a>
                                <a href="/category/160" target="_blank">维护保养</a>
                                <a href="/equipmentRecycle" target="_blank">设备回收</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-main">
                            <h6>
                                <i class="icon-nav-sever"></i>
                                办公服务
                            </h6>
                            <p>
                                <a href="/category/87" target="_blank">网络部署</a>
                                <a href="/category/81" target="_blank">服务器</a>
                                <a href="/category/130" target="_blank">工作站</a>
                                <br />
                                <a href="/category/32" target="_blank">打印机</a>
                                <a href="/category/129" target="_blank">净化器</a>
                                <a href="/category/80-38" target="_blank">Office</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </h2>


            <table class="big-nav-table" border="0" cellspacing="1" cellpadding="0" >
                <tbody>
                    <tr>
                        
                            <td >
                                <a href="https://eqigou.edianzu.com/" target="_blank">
                                        易企购
                                </a>
                                
                                    <i class="icon-remai"></i>
                                
                                
                                
                            </td>
                        
                            <td >
                                <a href="https://www.edianzu.com/preferential" target="_blank">
                                        限量特惠
                                </a>
                                
                                
                                    <i class="icon-grab">
                                
                                
                            </td>
                        
                            <td >
                                <a href="https://www.edianzu.com/toProductList?rentType=5&amp;isFocus=1" target="_blank">
                                        我要短租
                                </a>
                                
                                
                                
                                    <i class="icon-new"></i>
                                
                            </td>
                        
                            <td >
                                <a href="https://www.epandian.cn" target="_blank">
                                        固定资产管理
                                </a>
                                
                                
                                
                            </td>
                        
                            <td >
                                <a href="https://www.edianzu.com/equipmentRecycle" target="_blank">
                                        企业回收
                                </a>
                                
                                
                                
                            </td>
                        
                            <td >
                                <a href="https://www.edianzu.com/valueAddedService" target="_blank">
                                        增值服务
                                </a>
                                
                                
                                
                            </td>
                        
                            <td >
                                <a href="https://www.edianzu.com/customers" target="_blank">
                                        客户说
                                </a>
                                
                                
                                
                            </td>
                        
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>





<!-- 登录 注册 的头部 -->









<script>
(function(window, $, undefined){
    $('table.big-nav-table a').each(function(){
        if (location.href.search(this.href) > -1){
            $(this).parent().addClass('on');
        }
    });
})(window, jQuery);
</script>

    
    
    
    <!-- 搜索过滤表格 -->
    <div class="filter-box" data-webType="0">
        <!-- 已选条件列表 -->
        <div class="filter-box-tit">
            全部商品
            
            <span id="emptyBtnId" class="empty-btn">清空筛选</span>
        </div>

        
        <div class="conditon-wrap">
            
                
                    
                        
                        
                            <dl class="clearfix">
                                <dt>分类：</dt>
                                <dd class="categoryId" id="categoryId">
                                    
                                        
                                        <a class="type cur-screen" data-param="categoryId" data-value="0">不限</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="77">笔记本</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="86">台式机</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="84">一体机</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="83">显示器</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="76">主机</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="130">工作站</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="82">投影仪</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="52">平板电脑</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="49">手机</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="131">电视</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="32">打印机</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="81">服务器</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="129">空气净化器</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="91">配件</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="80">Office</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="87">网络部署</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="139">驻场服务</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="140">安装升级</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="138">无忧服务</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="141">数据保障</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="categoryId" data-value="160">维护保养</a>
                                    
                                </dd>
                            </dl>
                        
                    
                
                    
                        
                            
                            <dl class="clearfix">
                                <dt>品牌：</dt>
                                <dd class="brandId" id="brandId">
                                    
                                        
                                        <span class="type cur-screen-brand" data-param="brandId" data-value="0">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://resources.edianzu.com/mall_new/20181011_1/images/buxian.png" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="33">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/445d5ea0236bc53bee65e607ea6c3f35.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="32">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/29d0f4745a0ae66c5920620cdf755702.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="34">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/cce9a3eb44681d256f8d6d4bc1375d92.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="29">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/1267ec5867d4ed0d483bb0091ed5b88c.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="37">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/9a94c12afa8fd0d5060e6dec15e0a415.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="16">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/ecc456cc9b92184a0297cb2da43ccdbc.png" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="10">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/23efd636beb4457e7656a02fac35ba14.png" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="38">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/b412cc7f5bb67e9b72254b9fdc43e5a4.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="41">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/3175aa5a8f6a8ca64d0200702bd7c895.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="28">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/fee6f2f6f1b276b5faeab6d2ec3bf9d8.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="9">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/bd71855bd23ad44a1ecd675651ea89e4.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="31">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/dbddaaee8b00b1c0892e415ef627cd22.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="40">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/feb450545d2f4665a2608d8f81f35e87.png" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="35">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/a4643c2841c4733beeee62e217dab6d0.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="46">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/4e3327c89a1437fa921806d581371ccb.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="39">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/4a07052adfc4976fb4994074e49894e2.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="44">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/51e82eea8ca79460dc5357855fca0867.png" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="58">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/4591ead1b637e2c1effd5d4dfbf75fb3.jpg" />
                                        </span>
                                    
                                        
                                        <span class="type nur-screen-brand" data-param="brandId" data-value="53">
                                            <i class="icon-select-tip select-tip"></i>
                                            <img src="https://edzimg.edianzu.com/common/3932398d2c9383bb0eab7327fdad9d5c.png" />
                                        </span>
                                    
                                </dd>
                            </dl>
                        
                        
                    
                
                    
                        
                        
                            <dl class="clearfix">
                                <dt>新旧属性：</dt>
                                <dd class="condition" id="condition">
                                    
                                        
                                        <a class="type cur-screen" data-param="condition" data-value="0">不限</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="condition" data-value="1">全新设备</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="condition" data-value="4">准新设备</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="condition" data-value="2">非全新设备</a>
                                    
                                </dd>
                            </dl>
                        
                    
                
                    
                        
                        
                            <dl class="clearfix">
                                <dt>租金范围：</dt>
                                <dd class="price" id="price">
                                    
                                        
                                        <a class="type cur-screen" data-param="price" data-value="">不限</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="price" data-value="0_99">0-99元</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="price" data-value="100_149">100-149元</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="price" data-value="150_199">150-199元</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="price" data-value="200_249">200-249元</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="price" data-value="250_299">250-299元</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="price" data-value="300_400">300-400元</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="price" data-value="400_9999999">400元以上</a>
                                    
                                </dd>
                            </dl>
                        
                    
                
                    
                        
                        
                            <dl class="clearfix">
                                <dt>租赁方式：</dt>
                                <dd class="rentType" id="rentType">
                                    
                                        
                                        <a class="type cur-screen" data-param="rentType" data-value="">不限</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="rentType" data-value="1">随租随还</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="rentType" data-value="3">租完即送</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="rentType" data-value="2">固定租期</a>
                                    
                                        
                                        <a class="type nur-screen" data-param="rentType" data-value="5">短期租赁</a>
                                    
                                </dd>
                            </dl>
                        
                    
                
            

            <div id="condMoreId" class="cond-box cond-more">
                <span class="more-wrap">
                    更多选项
                    <i class="icon-gray-down-select normal-i"></i>
                    <i class="icon-arrow-down-select focus-i"></i>
                </span>
                <span class="simple-wrap">
                    精简选项
                    <i class="icon-gray-up-select normal-i"></i>
                    <i class="icon-arrow-up-select focus-i"></i>
                </span>
            </div>
        </div>
    </div>

   <div class="product-list">
       
        <div class="fore">
            <ul class="sort clearfix" data-sort="0">
                <li class="cur-fore" data-value="0">
                    默认排序
                </li>
                <li class="nor-fore" data-value="3">
                    销量由高到低
                </li>
                <li class="nor-fore" data-value="4">
                    销量由低到高
                </li>
                <li class="nor-fore" data-value="1">
                    价格由高到低
                </li>
                <li class="nor-fore" data-value="2">
                    价格由低到高
                </li>                
            </ul>
            <label><input class="only-stock" type="checkbox"   />&nbsp;仅显示有货</label>
        </div>

       
        <div class="pro-list-con" data-page="1"
             data-maxPage="49">
            <ul class="contentUl clearfix">
                    <li>
                                <a href="/item/118943"  target="_blank">
                            
                        
                            <div class="img-box">
                                <img class="product-img" src="https://edzimg.edianzu.com/product/2018/09/b05410dbe885cf45fb56dea5102bb6ac.jpg?x-oss-process=image/resize,m_fill,h_380,w_380" />
                                
                                
                                    <i class="icon-new-product">全新</i>
                                
                            </div>
                            <h3>全新 戴尔(DELL) Latitude 3490 14英寸笔记本电脑(i3-7020U/4G/128GSSD/集显/win10 home/1年上门服务)</h3>
                            <div class="price">
                                
                                ￥<strong>
                                95.00
                            </strong>
                                /月
                            </div>
                        </a>
                    </li>
                
                    <li>
                        
                            
                            
                                <a href="/item/119434"  target="_blank">
                            
                        
                            <div class="img-box">
                                <img class="product-img" src="https://edzimg.edianzu.com/product/2018/09/2a48ec696fa5f621c62ae3003e62c394.jpg?x-oss-process=image/resize,m_fill,h_380,w_380" />
                                
                                
                                    <i class="icon-new-product">全新</i>
                                
                            </div>
                            <h3>全新 易点租 QuickPC E32 Pro 台式机 (G4900/4G/120G SSD/核显/E2016H 19.5英寸/USB无线网卡/USB键鼠/Linux/8L机箱/易点租保修)</h3>
                            <div class="price">
                                
                                ￥<strong>
                                95.00
                            </strong>
                                /月
                            </div>
                        </a>
                    </li>
                
                    <li>
                        
                            
                            
                                <a href="/item/119789"  target="_blank">
                            
                        
                            <div class="img-box">
                                <img class="product-img" src="https://edzimg.edianzu.com/product/2018/10/31f2d2ce53378ed049fe8994d9bdbbcc.jpg?x-oss-process=image/resize,m_fill,h_380,w_380" />
                                
                                
                                    <i class="icon-new-product">全新</i>
                                
                            </div>
                            <h3>全新 易点租 QuickPC E32A Pro 台式机 (G4900 3.1GHz/4G/240G SSD/核显HD610/E2016H 19.5英寸/Linux/USB无线网卡/8L机箱)</h3>
                            <div class="price">
                                
                                ￥<strong>
                                105.00
                            </strong>
                                /月
                            </div>
                        </a>
                    </li>
                
                    <li>
                        
                            
                            
                                <a href="/item/100249"  target="_blank">
                            
                        
                            <div class="img-box">
                                <img class="product-img" src="https://edzimg.edianzu.com/product/2018/10/c318cd17e43cd5a022c079fb4ea4d772.jpg?x-oss-process=image/resize,m_fill,h_380,w_380" />
                                
                                
                            </div>
                            <h3>ThinkPad X220  极速版  12.5英寸便携笔记本电脑(i5/4GB/120GB SSD/集显)</h3>
                            <div class="price">
                                
                                ￥<strong>
                                80.00
                            </strong>
                                /月
                            </div>
                        </a>
                    </li>
                
                    <li>
                        
                            
                            
                                <a href="/item/118955"  target="_blank">
                            
                        
                            <div class="img-box">
                                <img class="product-img" src="https://edzimg.edianzu.com/product/2018/09/6443a6307060c698f7c4ebd8f95920ba.jpg?x-oss-process=image/resize,m_fill,h_380,w_380" />
                                
                                
                                    <i class="icon-new-product">全新</i>
                                
                            </div>
                            <h3>全新 戴尔(DELL) Latitude 3490 14英寸笔记本电脑(i3-7020U/8G/256GSSD/集显/win10 home/1年上门服务)</h3>
                            <div class="price">
                                
                                ￥<strong>
                                115.00
                            </strong>
                                /月
                            </div>
                        </a>
                    </li>
                
                    <li>
                        
                            
                            
                                <a href="/item/100245"  target="_blank">
                            
                        
                            <div class="img-box">
                                <img class="product-img" src="https://edzimg.edianzu.com/product/2016/12/3478f424913a70b26cefadf3f0d59cb4.png?x-oss-process=image/resize,m_fill,h_380,w_380" />
                                
                                
                            </div>
                            <h3>ThinkPad T420 极速版 14.0英寸笔记本电脑(i5/4GB/120GB SSD/集显)</h3>
                            <div class="price">
                                
                                ￥<strong>
                                95.00
                            </strong>
                                /月
                            </div>
                        </a>
                    </li>
                
                    <li>
                        
                            
                            
                                <a href="/item/115221"  target="_blank">
                            
                        
                            <div class="img-box">
                                <img class="product-img" src="https://edzimg.edianzu.com/product/2018/08/7fc109eaa7fd9ac16271dd556a815b99.jpg?x-oss-process=image/resize,m_fill,h_380,w_380" />
                                
                                
                                    <i class="icon-new-product">全新</i>
                                
                            </div>
                            <h3>全新 戴尔(DELL) Latitude 3490 14英寸笔记本电脑(i3-6006U/4G/500G/集显/win10 home/1年上门服务)</h3>
                            <div class="price">
                                
                                ￥<strong>
                                95.00
                            </strong>
                                /月
                            </div>
                        </a>
                    </li>
                
                    <li>
                        
                            
                            
                                <a href="/item/118941"  target="_blank">
                            
                        
                            <div class="img-box">
                                <img class="product-img" src="https://edzimg.edianzu.com/product/2018/09/7aef173240c81a86ed423fcdd766929f.jpg?x-oss-process=image/resize,m_fill,h_380,w_380" />
                                
                                
                                    <i class="icon-new-product">全新</i>
                                
                            </div>
                            <h3>全新 戴尔(DELL) Latitude 3490 14英寸笔记本电脑(i3-7020U/4G/500G/集显/win10 home/1年上门服务)</h3>
                            <div class="price">
                                
                                ￥<strong>
                                95.00
                            </strong>
                                /月
                            </div>
                        </a>
                    </li>
                
                    <li>
                        
                            
                            
                                <a href="/item/119194"  target="_blank">
                            
                        
                            <div class="img-box">
                                <img class="product-img" src="https://edzimg.edianzu.com/product/2018/09/d14f87fba99e3141615f04c3fa4cbbaa.jpg?x-oss-process=image/resize,m_fill,h_380,w_380" />
                                
                                
                            </div>
                            <h3>戴尔(DELL) Latitude 3490 14英寸笔记本电脑(i3-6006U/4G/500G/集显/win10 home)</h3>
                            <div class="price">
                                
                                ￥<strong>
                                94.00
                            </strong>
                                /月
                            </div>
                        </a>
                    </li>
                
                    <li>
                        
                            
                            
                                <a href="/item/112054"  target="_blank">
                            
                        
                            <div class="img-box">
                                <img class="product-img" src="https://edzimg.edianzu.com/product/2018/10/ae27c7a9178bcc915690e7550270345f.jpg?x-oss-process=image/resize,m_fill,h_380,w_380" />
                                
                                
                            </div>
                            <h3>ThinkPad X220 12.5英寸便携笔记本电脑(i5/4GB/500GB/集显)</h3>
                            <div class="price">
                                
                                ￥<strong>
                                70.00
                            </strong>
                                /月
                            </div>
                        </a>
                    </li>
                
                    <li>
                        
                            
                            
                                <a href="/item/119433"  target="_blank">
                            
                        
                            <div class="img-box">
                                <img class="product-img" src="https://edzimg.edianzu.com/product/2018/09/af452000ca46a5abee65fea54b07e6e5.jpg?x-oss-process=image/resize,m_fill,h_380,w_380" />
                                
                                
                                    <i class="icon-new-product">全新</i>
                                
                            </div>
                            <h3>全新 易点租 QuickPC E31 Pro 台式机 (G4900/4G/1T/核显/E2016H 19.5英寸/USB无线网卡/USB键鼠/Linux/8L机箱/易点租保修)</h3>
                            <div class="price">
                                
                                ￥<strong>
                                100.00
                            </strong>
                                /月
                            </div>
                        </a>
                    </li>
                
                    <li>
                        
                            
                            
                                <a href="/item/115224"  target="_blank">
                            
                        
                            <div class="img-box">
                                <img class="product-img" src="https://edzimg.edianzu.com/product/2018/08/526203f9d1718f4b74242f7d34a42bec.jpg?x-oss-process=image/resize,m_fill,h_380,w_380" />
                                
                                
                                    <i class="icon-new-product">全新</i>
                                
                            </div>
                            <h3>全新 戴尔(DELL) Latitude 3490 14英寸笔记本电脑(i3-6006U/8G/128GSSD/集显/win10 home/1年上门服务)</h3>
                            <div class="price">
                                
                                ￥<strong>
                                105.00
                            </strong>
                                /月
                            </div>
                        </a>
                    </li>
                
                
            </ul>
        </div>

        <!-- 分页 -->
        <div id="paper" style="margin-top:10px;"></div>
    </div>

    
        





<div class="footerAll clearfix">
	<dl class="content clearfix">
		<dt class="fr">
			<div class="footer-right">
				<i class="icon-footer-logo-new"></i>
				<h4 class="footer-phone">400-886-9528</h4>
				<h6 class="footer-time">周一至周日(9:00-18:00)</h6>
				<!-- <a href="#" class="footer-line">
					<i class="icon-footer-line"></i>在线咨询
				</a> -->
			</div>
		</dt>
		<dd class="fl">
			<ul class="footer-list">
				<li class="footer-tit">关于易点租</li>
				<li>
					<a href="/help/about">公司概况</a>
				</li>
				<li>
					<a href="/help/business">商务合作</a>
				</li>
				<li>
					<a href="/help/join">加入我们</a>
				</li>
				<li>
					<a href="/help/contact">联系我们</a>
				</li>
				<li>
					<a href="/help/report">媒体报道</a>
				</li>
			</ul>
		</dd>
		<dd class="fl">
			<ul class="footer-list">
				<li class="footer-tit">租机预订说明</li>
				<li>
					<a href="/help/topic/1">什么是免押金租赁</a>
				</li>
				<li>
					<a href="/help/topic/2">租机流程</a>
				</li>
				<li>
					<a href="/help/topic/3">租金缴付</a>
				</li>
				<li>
					<a href="/help/topic/4">租赁方式</a>
				</li>
				<li>
					<a href="/help/topic/5">租赁协议</a>
				</li>
			</ul>
		</dd>
		<dd class="fl">
			<ul class="footer-list">
				<li class="footer-tit">租机费用及结算</li>
				<li>
					<a href="/help/topic/11">价格说明</a>
				</li>
				<li>
					<a href="/help/topic/12">开取发票</a>
				</li>
			</ul>
		</dd>
		<dd class="fl">
			<ul class="footer-list footer-list-space">
				<li class="footer-tit">企业服务</li>
				<li>
					<a href="https://group.edianzu.cn/group/index" target="_blank" class="footer-developing">集团账号登录</a>
				</li>
				<li>
					<a href="/help" class="footer-developing">服务中心</a>
				</li>
			</ul>
		</dd>
	</dl>
</div>
<div class="footer-bottom clearfix">



	<p>© Copyright Reserved 2014-2018　| &nbsp; <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802021743" target="_blank"><img src="/images/ghsedz.png" />京公网安备 11010102002019号</a> &nbsp; |　京ICP备14057387号-1　|　北京易点淘网络技术有限公司 </p>
	<p>办公地址： 北京市海淀区西二旗大街39号融通高科大厦二层 易点租 </p>
	<p>
		<a href="/help/topic/8" target="_blank">北京退换机地址</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/help/topic/8" target="_blank">上海退换机地址</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/help/topic/8" target="_blank">深圳退换机地址</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/help/topic/8" target="_blank">武汉退换机地址</a>
	</p>
</div>


<!--右侧悬浮-->


<a id="moquu_top" href="#top"></a>

    
    
    
    




</body>
</html>
