
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">


<html>
<head>
<title>易点租_办公电脑免押金租赁电商</title>





	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="Content-Type"  content="text/html; charset=UTF-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	
		<meta name="Keywords" content="电脑租赁,免押金,易点租,免押金租赁,企业租赁电脑,出租办公电脑,北京电脑租赁,IBM笔记本租赁,IBM电脑租赁,租赁苹果电脑,服务器租赁,高配台式机租赁,笔记本电脑租赁,苹果电脑租赁,北京笔记本出租,免押金租电脑,电脑免押金租赁" />
		<meta name="Description" content="易点租 首创0押金，月租金85元/月起，随租随还，全程保修。中小企业办公电脑优秀之选。" />
	
	
	<meta name="baidu-site-verification" content="x6vU8kiRne" />

	<link href="https://resources.edianzu.com/mall_new/20181108_1/css/edz.web.common.min.css?version=2018_11_08_20_31_27" rel="stylesheet" />
	<link href="https://resources.edianzu.com/mall_new/20181108_1/css/edz.web.min.css?version=2018_11_08_20_31_27" rel="stylesheet" />
	<link href="https://resources.edianzu.com/mall_new/20181108_1/css/edz.web.uc.min.css?version=2018_11_08_20_31_27" rel="stylesheet" />

	<script crossorigin type="text/javascript">
		ROOT_PATH = '';
	</script>
	<script crossorigin type="text/javascript" src="https://resources.edianzu.com/mall_new/20181108_1/js/edz.web.lib.min.js?version=2018_11_08_20_31_27"></script>
	
		
	<!--<script crossorigin type="text/javascript" src="https://resources.edianzu.com/mall_new/20181108_1/js/edz.web.min.js?version=2018_11_08_20_31_27"></script>-->
	
	<script type="text/javascript" src="https://cstaticdun.126.net/load.min.js"></script>
	<script type="text/javascript" src="/static/user_js/jquery-2.1.0.js"></script>
	
	<script crossorigin type='text/javascript'>
		var _vds = _vds || [];
		window._vds = _vds;
		(function(){
			_vds.push(['setAccountId', 'a5524122e79c5822']);
			(function() {
				var vds = document.createElement('script');
				vds.type='text/javascript';
				vds.async = true;
				vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(vds, s);
			})();
		})();

	</script>


	<script> var _hmt = _hmt || [];
	(function () {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?7f1c38424a58e6ebb23eeee705ad45af";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})(); </script>


	
	<style type="text/css">
		#Index{
			width: 90%;
			height: auto;
			margin: 0 auto;
		}
	</style>


</head>
<body page="Index">
	








<!-- 顶部通用提示文案 -->
<div class="top-notice"><p></p></div>

<!-- 账单日提示文案 -->



	<div class="header-top">
	    <dl class="clearfix">
	        
	            
	            
	            
	            
	                <dt class="fl">
	                    <ul>
	                        <li class="fl">{{username}}</li>
	                        <li class="not-loginfirst fl">
	                            <a href="/user/login/" id="to_login" class="login">{{login}}</a>
	                            <a href="/user/register/" class="register">{{register}}</a>
	                        </li>
	                    </ul>
	                </dt>
                   
	            
	        
	    </dl>
	</div>



    <dl class="header-index clearfix">
        <dt class="index-Hlogo fl">
            <a href="/index"> </a>
        </dt>
        <dd class="index-Hsearch">
            <div class="clearfix search-box">
                <div class="input-box">
                    <input type="text" placeholder="免押金租电脑" class="hsearch-text" value="" />
                    <i class="search-del-btn hidden"></i>
                </div>
                <button class="hsearch-but">
                    <i class="icon-header-search"></i>
                    		搜索
                </button>
            </div>
            <p class="search-word">
                <!-- <a href="#">T420</a><a href="#">T420</a><a href="#">T420</a><a href="#">T420</a><a href="#">T420</a> -->
            </p>
        </dd>
        <dd class="index-Hshopping fr">
            <a href="/carts" class="button" target="_blank">
                <i class="icon-header-shopping"></i>
                		购物车
                <b>&gt;</b>
            </a>
            <span>0</span>
        </dd>
    </dl>
    <div class="commonnav-bg clearfix">
        <div class="content">
            <h2 class="fl">
                <a class="goods" style="cursor:default;">
                    <i class="icon-nav-left"></i>
                    商品分类
                    <i class="nav-direction icon-nav-down"></i>
                </a>
                <ul class="nav-list" style="display:block;">
                    <li>
                        <div class="list-main">
                            <h6>
                                <i class="icon-nav-computer"></i>
                                办公电脑
                            </h6>
                            <p>
                                <a href="/category/77" target="_blank">笔记本</a>
                                <a href="/category/86" target="_blank">台式机</a>
                                <a href="/category/84" target="_blank">一体机</a>
                                <a href="/category/76" target="_blank">主机</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-main">
                            <h6>
                                <i class="icon-nav-peripheral"></i>
                                办公外设
                            </h6>
                            <p>
                                <a href="/category/82" target="_blank">投影仪</a>
                                <a href="/category/83" target="_blank">显示器</a>
                                <a href="/category/52" target="_blank">平板</a>
                                <a href="/category/49" target="_blank">手机</a>
                                <br />
                                <a href="/category/131" target="_blank">电视</a>
                                <a href="https://eqigou.edianzu.com/category/91" target="_blank">配件</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-main">
                            <h6>
                                <i class="icon-nav-software"></i>
                                增值服务
                            </h6>
                            <p class="padding-b0">
                                <a href="/item/118160" target="_blank">IT经理服务</a>
                                <a href="https://eqigou.edianzu.com/category/138" target="_blank">无忧服务</a>
                                <a href="/category/140" target="_blank">安装升级</a>
                            </p>
                            <p>
                                <a href="/category/141" target="_blank">数据保障</a>
                                <a href="/category/160" target="_blank">维护保养</a>
                                <a href="/equipmentRecycle" target="_blank">设备回收</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-main">
                            <h6>
                                <i class="icon-nav-sever"></i>
                                办公服务
                            </h6>
                            <p>
                                <a href="/category/87" target="_blank">网络部署</a>
                                <a href="/category/81" target="_blank">服务器</a>
                                <a href="/category/130" target="_blank">工作站</a>
                                <br />
                                <a href="/category/32" target="_blank">打印机</a>
                                <a href="/category/129" target="_blank">净化器</a>
                                <a href="/category/80-38" target="_blank">Office</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </h2>


            <table class="big-nav-table" border="0" cellspacing="1" cellpadding="0" >
                <tbody>
                    <tr>
                        
                            <td >
                                <a href="https://eqigou.edianzu.com/" target="_blank">
                                        易企购
                                </a>
                                
                                    <i class="icon-remai"></i>
                                
                                
                                
                            </td>
                        
                            <td >
                                <a href="https://www.edianzu.com/preferential" target="_blank">
                                        限量特惠
                                </a>
                                
                                
                                    <i class="icon-grab">
                                
                                
                            </td>
                        
                            <td >
                                <a href="https://www.edianzu.com/toProductList?rentType=5&amp;isFocus=1" target="_blank">
                                        我要短租
                                </a>
                                
                                
                                
                                    <i class="icon-new"></i>
                                
                            </td>
                        
                            <td >
                                <a href="https://www.epandian.cn" target="_blank">
                                        固定资产管理
                                </a>
                                
                                
                                
                            </td>
                        
                            <td >
                                <a href="https://www.edianzu.com/equipmentRecycle" target="_blank">
                                        企业回收
                                </a>
                                
                                
                                
                            </td>
                        
                            <td >
                                <a href="https://www.edianzu.com/valueAddedService" target="_blank">
                                        增值服务
                                </a>
                                
                                
                                
                            </td>
                        
                            <td >
                                <a href="https://www.edianzu.com/customers" target="_blank">
                                        客户说
                                </a>
                                
                                
                                
                            </td>
                        
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>





<!-- 登录 注册 的头部 -->


<script type="text/javascript">
	$('.hsearch-but').click(function(){
		inputtext = $('.hsearch-text').val()
		location.href = ''
	})
</script>






<script>
(function(window, $, undefined){
    $('table.big-nav-table a').each(function(){
        if (location.href.search(this.href) > -1){
            $(this).parent().addClass('on');
        }
    });
})(window, jQuery);
</script>

	<div class="clear index-nav-show"></div>

	<!--首页banner-->
	
		<div class="main_visual">
			<div class="flicking_con">
				<a href="javascript:;" class="banner-btn btn_prev"><i class="icon-btn-light-left"></i></a> <a href="javascript:;"
					class="banner-btn btn_next"><i class="icon-btn-light-right"></i></a>
				<div class="flicking_inner">
					
						<a href="" class="">0</a>
					
						<a href="" class="">1</a>
					
						<a href="" class="">2</a>
					
						<a href="" class="">3</a>
					
						
					
				</div>
			</div>
			<div class="main_image banner_center">
				<ul class="loop_logo" style="width:100%; overflow: visible;">
					
						<li><a target=""> <span
								style="background: url(/static/qiantai_img/luanbo_1.jpg) center top no-repeat"></span>
						</a></li>
					
						<li><a target="_blank" href=""> <span
								style="background: url(/static/qiantai_img/luanbo_2.jpg) center top no-repeat"></span>
						</a></li>
					
						<li><a target="_blank" href=""> <span
								style="background: url(/static/qiantai_img/luanbo_3.jpg) center top no-repeat"></span>
						</a></li>
					
						<li><a target="_blank" href=""> <span
								style="background: url(/static/qiantai_img/luanbo_4.jpg) center top no-repeat"></span>
						</a></li>
					
						
					
				</ul>
			</div>
		</div>
	
	<!--客户专区-->
	

	<!--热销机型-->
	
		<div class="hot-model">
			<p class="title">
				<i class="icon-hotmodel"></i> <span class="txt">热销机型</span>
			</p>
			<div class="hot-box">
				
					
						
							<div class="img-box">
								<a href="/item/118943" target="_blank" class="hot-1">
									<img src="https://edzimg.edianzu.com/homepage/f3eaf605b7ed58b8a48b4c848aa1239f.jpg">
									
								</a>
							</div>
						
						
					
				
					
						
						
							<a href="/item/112054" target="_blank" class="hot-2">
								<div class="tex-height">
									<div class="txt-sub">{{hot_sale.0.shop_content}}</div>
									<div class="txt-des">i5/4GB/500GB/集显</div>
									<div class="txt-price-2">￥{{hot_sale.0.shop_price}}/月</div>
								</div>
								<div class="com-pic-2 img-box">
									<img src="{{hot_sale.0.shop_img}}" />
									
								</div>
							</a>
						
					
				
					
						
						
							<a href="/item/119434" target="_blank" class="hot-3">
								<div class="tex-height">
									<div class="txt-sub">{{hot_sale.1.shop_content}}</div>
									<div class="txt-des">G4900/4G/120G SSD/核显</div>
									<div class="txt-price-3">￥{{hot_sale.1.shop_price}}/月</div>
								</div>
								<div class="com-pic-3 img-box">
									<img src="{{hot_sale.1.shop_img}}" />
									
								</div>
							</a>
						
					
				
					
						
						
							<a href="/item/100245" target="_blank" class="hot-4">
								<div class="tex-height">
									<div class="txt-sub">{{hot_sale.2.shop_content}}</div>
									<div class="txt-des">i5/4GB/120GB SSD/集显</div>
									<div class="txt-price-4">￥{{hot_sale.2.shop_price}}/月</div>
								</div>
								<div class="com-pic-4 img-box">
									<img src="{{hot_sale.2.shop_img}}" />
									
								</div>
							</a>
						
					
				
					
						
						
							<a href="/item/110323" target="_blank" class="hot-5">
								<div class="tex-height">
									<div class="txt-sub">{{hot_sale.3.shop_content}}</div>
									<div class="txt-des">i5/8GB/240GB SSD/集显</div>
									<div class="txt-price-5">￥{{hot_sale.3.shop_price}}/月</div>
								</div>
								<div class="com-pic-5 img-box">
									<img src="{{hot_sale.3.shop_img}}" />
									
								</div>
							</a>
						
					
				
					
						
						
							<a href="/item/110322" target="_blank" class="hot-6">
								<div class="tex-height">
									<div class="txt-sub">{{hot_sale.4.shop_content}}</div>
									<div class="txt-des">i5/8GB/240GB SSD/集显</div>
									<div class="txt-price-6">￥{{hot_sale.4.shop_price}}/月</div>
								</div>
								<div class="com-pic-6 img-box">
									<img src="{{hot_sale.4.shop_img}}" />
									
								</div>
							</a>
						
					
				
					
						
						
							<a href="/item/120358" target="_blank" class="hot-7">
								<div class="tex-height">
									<div class="txt-sub">{{hot_sale.5.shop_content}}</div>
									<div class="txt-des">i5/8G/240G SSD/核显</div>
									<div class="txt-price-7">￥{{hot_sale.5.shop_price}}/月</div>
								</div>
								<div class="com-pic-7 img-box">
									<img src="{{hot_sale.5.shop_img}}" />
									
								</div>
							</a>
						
					
				
			</div>
		</div>
	

	<!-- 文章标签 -->
	<div class="detail-info">
		<ul class="fnav_small">
			<li><a href=""><i class="icon-bar-floder-white"></i><i
					class="icon-bar-floder" style="display: none"> </i> 免押金 </a></li>
			<li><a href=""><i class="icon-bar-schedule"></i> <i
					class="icon-bar-schedule-white" style="display: none"></i> 随租随还 </a></li>
			<li><a href=""><i class="icon-bar-bag"></i><i class="icon-bar-bag-white"
					style="display: none"></i> 一台起租 </a></li>
			<li><a href=""> <i class="icon-bar-calendar"></i><i
					class="icon-bar-calendar-white" style="display: none"></i> 按月支付
			</a></li>
			<li><a href=""><i class="icon-bar-share"></i><i class="icon-bar-share-white"
					style="display: none"></i> 高性价比 </a></li>
			<li class="marignli"><a href=""> <i class="icon-bar-setting"></i><i
					class="icon-bar-setting-white" style="display: none"></i> 全程保修
			</a></li>
		</ul>
	</div>
	<!-- 5个楼层 -->
	
		<div class="box-all">
			
				{%for item in all_info%}
			
				<div href="" class="floor-2" id="floor-2">
					<p class="title">
						<i class="icon-floor2"></i> <span class="txt">{{item.genre_name}}</span>
					</p>
					<div class="floor-con">

									<div class="img-box">
										<a href="/item/111725" target="_blank" class="fir-img">
											<img src="{{item.genre_img}}" />
											
										</a>
									</div>

								
								
									<a href="/item/120357" target="_blank" class="part-1">
										<div class="img-1">
											<div class="img-box">
											<img src="{{item.shop_list.0.shop_img}}" />
											
											</div>
										</div>
										<div class="fon-1">
											<p>{{item.shop_list.0.shop_content}}</p>
										</div>
										<div class="price">￥{{item.shop_list.0.shop_price}}/月</div>
									</a>
								

								
								
									<a href="/item/112760" target="_blank" class="part-2">
										<div class="img-2">
											<div class="img-box">
											<img src="{{item.shop_list.1.shop_img}}" />
											
											</div>
										</div>
										<div class="fon-2">
											<p>{{item.shop_list.1.shop_content}}</p>
										</div>
										<div class="price">￥{{item.shop_list.1.shop_price}}/月</div>
									</a>
								

								
									<a href="/item/114849" target="_blank" class="part-3">
										<div class="img-3">
											<div class="img-box">
											<img src="{{item.shop_list.2.shop_img}}" />
											
											</div>
										</div>
										<div class="fon-3">
											<p>{{item.shop_list.2.shop_content}}</p>
										</div>
										<div class="price">￥{{item.shop_list.2.shop_price}}/月</div>
									</a>
								

								
									<a href="/item/114480" target="_blank" class="part-4">
										<div class="img-4">
											<div class="img-box">
											<img src="{{item.shop_list.3.shop_img}}" />
											
											</div>
										</div>
										<div class="fon-4">
											<p>{{item.shop_list.3.shop_content}}</p>
										</div>
										<div class="price">￥{{item.shop_list.3.shop_price}}/月</div>
									</a>
								
							

								
									<a href="/item/120361" target="_blank" class="part-5">
										<div class="img-5">
											<div class="img-box">
											<img src="{{item.shop_list.4.shop_img}}" />
											
											</div>
										</div>
										<div class="fon-5">
											<p>{{item.shop_list.4.shop_content}}</p>
										</div>
										<div class="price">￥{{item.shop_list.4.shop_price}}/月</div>
									</a>
								

									<a href="/item/114863" target="_blank" class="part-6">
										<div class="img-6">
											<div class="img-box">
											<img src="{{item.shop_list.5.shop_img}}" />
											
											</div>
										</div>
										<div class="fon-6">
											<p>{{item.shop_list.5.shop_content}}</p>
										</div>
										<div class="price">￥{{item.shop_list.5.shop_price}}/月</div>
									</a>

					</div>
				</div>
			
			{%endfor%}
			
		</div>
	



	<div class="clear"></div>


	<div class="clear"></div>
	






<div class="footer-bottom clearfix">


</div>


<a id="moquu_top" href="#top"></a>

	






</body>
</html>
